tests/Component/Remote/BurzeDzisNet/InvalidExampleWSDL.xml

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://burze.dzis.net/soap.php" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="serwerSOAP" targetNamespace="http://burze.dzis.net/soap.php">
    <types>
        <xsd:schema targetNamespace="http://burze.dzis.net/soap.php">
            <xsd:complexType name="MyComplexTypeMiejscowosc">
                <xsd:all>
                    <xsd:element name="y" type="xsd:float" nillable="true"/>
                    <xsd:element name="x" type="xsd:float" nillable="true"/>
                </xsd:all>
            </xsd:complex123sdfsdf
                    <xsd:element name="mroz_od_dnia" type="xsd:string" nillable="true"/>
                    <xsd:element name="mroz_do_dnia" type="xsd:string" nillable="true"/>
                    <xsd:element name="upal" type="xsd:int" nillable="true"/>
                    <xsd:element name="upal_od_dnia" type="xsd:string" nillable="true"/>
                    <xsd:element name="upal_do_dnia" type="xsd:string" nillable="true"/>
                    <xsd:element name="wiatr" type="xsd:int" nillable="true"/>
                    <xsd:element name="wiatr_od_dnia" type="xsd:string" nillable="true"/>
                    <xsd:element name="wiatr_do_dnia" type="xsd:string" nillable="true"/>
                    <xsd:element name="opad" type="xsd:int" nillable="true"/>
                    <xsd:element name="opad_od_dnia" type="xsd:string" nillable="true"/>
                    <xsd:element name="opad_do_dnia" type="xsd:string" nillable="true"/>
                    <x
    <message name="szukaj_burzyIn">
        <part name="y" type="xsd:string"/>
        <part name="x" type="xsd:string"/>
        <part name="promien" type="xsd:int"/>
        <part name="klucz" type="xsd:string"/>
    </message>
    <message name="szukaj_burzyOut">
        <part name="return" type="tns:MyComplexTypeBurza"/>
    </message>
